<h2>NCIDose</h2>

<p>Dear Dr. Lee,</p>

<p>This email is to let you know a user just visited the NCIDose web site and entered
the following information on the Agreement page. A STA PDF has been generated and sent
to the user via email.</p>

<p><b><u>Materials to download</u></b></p>
<ul>
    ${software_titles}
</ul>

<p><b><u>Recipient Investigator</u></b></p>
<ul>
    <li>Name: ${first} ${last}</li>
    <li>Job Title: ${job_title}</li>
    <li>Email: ${email}</li>
    <li>Phone: ${phone}</li>
    <li>Institution: ${institution}</li>
    <li>Business Address: ${address}</li>
</ul>

<p><b><u>Research Activity</u></b></p>
<ul>
    <li>${purpose}</li>
</ul>

<p><b><u>Where investigator heard about NCIDose</u></b></p>
<ul>
    <li>${discovery_mechanism}</li>
</ul>

</br>

<p>Sincerely,</p>
<p>Sent from the NCIDose Web Tool</p>
<p>NCIDOSEWebAdmin@mail.nih.gov</p>