<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
      font-family: FreeSerif, Serif;
      }
      h1 {
        margin: 10px 0;
        font-size: 20px;
      }
      p {
        margin: 0 0 16px;
      }
      .d-inline-block {
        display: inline-block;
      }
      .text-center {
        text-align: center;
      }
      .text-underline {
        text-decoration: underline;
      }
      .text-italic {
        font-style: italic;
      }
      .text-grey {
        color: #666;
      }
      .ml-40 {
        margin-left: 40px;
      }
      .border-bottom {
        border-bottom: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1 class="text-center">SOFTWARE TRANSFER AGREEMENT</h1>
    <p class="ml-40">Provider: National Cancer Institute (NCI)</p>
    <p class="ml-40">Recipient Institution: <span class="d-inline-block border-bottom" style="min-width: 250px;">${institution}</span></p>
    <p>WHEREAS, Provider has certain proprietary software and associated material described below (hereinafter, collectively referred to as "Software") <i>[Describe all items being transferred such as; software, executable code, source code, documentation, data and all other associated materials]</i>:</p>
    <div class="ml-40"><b>${software_descriptions}</b></div>
    <p>Provider agrees to transfer such Software to Recipient Investigator, to be used solely in connection with the following research activity and for the following reasons (hereinafter “Project”). <i>Describe with specificity the scope of use of Software under this agreement:</i><br></p>
    <div class="ml-40 text-underline text-grey">${purpose}</div>
    <br>
    <p>NOW, THEREFORE, in consideration of the premises and mutual covenants contained herein, the Provider and Recipient agree as follows:</p>
    <ol>
      <li>SOFTWARE SHALL NOT BE USED FOR TREATING OR DIAGNOSING HUMAN SUBJECTS.</li>
      <li>Recipient will not license or sell or use Software for commercial purposes or applications. Recipient Investigator shall retain control over Software and further will not transfer the Software to individuals not under Recipient Investigator’s direct supervision without the advance written approval of Provider. Recipient agrees to comply with all regulations applicable to the Project and the use of the Software.</li>
      <li>Recipient agrees not to copy Software, in whole or in part, except as required for use by Recipient Investigator for the conduct of the Project. Recipient shall not modify, extend, decompile, make derivatives of or reverse engineer the Software without written permission from Provider.</li>
      <li>Information deemed confidential under this Agreement (“Confidential Information”) shall be clearly marked “CONFIDENTIAL.” Any information that is orally disclosed must be reduced to writing and marked “CONFIDENTIAL” by the provider of the information within thirty (30) days of such disclosure. To the extent permitted by applicable law, the Recipient agrees to employ all reasonable efforts to safeguard Provider’s Confidential Information to ensure that no unauthorized person shall have access thereto and that no unauthorized copy, publication, disclosure or distribution, in whole or in part, in any form shall be made.</li>
      <li>In all oral presentations or written publications concerning the Project, Recipient will acknowledge Provider’s contribution of Software unless requested otherwise. Recipient may publish or otherwise publicly disclose the results of the Project, but if Provider has given Confidential Information to Recipient, such public disclosure may be made only after Provider has had 30 days to review the proposed disclosure, except when a shortened time period under court order or the Freedom of Information Act pertains.</li>
      <li>
        The obligations of Recipient under Paragraph 4 above shall not extend to any part of the Confidential Information:
        <ol type="a">
          <li>that can be demonstrated to have been publicly known at the time of disclosure; or</li>
          <li>that can be demonstrated to have been properly in the Recipient’s possession or that can be demonstrated to have been readily available to the Recipient from another proper source prior to the disclosure; or</li>
          <li>that becomes part of the public domain or publicly known by publication or otherwise, not due to any unauthorized act by the Recipient or its subsidiaries; or</li>
          <li>that can be demonstrated as independently developed or acquired by the Recipient without reference to or reliance upon such information; or</li>
          <li>that is required to be disclosed by law, provided that the Recipient takes reasonable and lawful actions to avoid and/or minimize such disclosure.</li>
        </ol>
      </li>
      <li>The Recipient’s obligations under Paragraphs 4 and 5 shall extend for a period of three (3) years from the date of disclosure.</li>
      <li>Title in the Software shall remain with the Provider. It is understood that nothing herein shall be deemed to constitute, by implication or otherwise, the grant to either Party by the other of any license or other rights under any patent, patent application or other intellectual property right or interest. Provider reserves the right to distribute Software to others and to use it for Provider’s own purposes.</li>
      <li>When the Project is completed or this Agreement is terminated, whichever occurs first, Recipient will destroy all copies of Software and Provider’s Confidential Information unless directed otherwise by Provider in writing.</li>
      <li>This Agreement may be terminated by either Recipient or Provider by providing 30 days advance notice.</li>
      <li>The Provider and Recipient each shall retain title to any patent or other intellectual property of their respective employees developed or created in the course of the Project defined in this Agreement. Neither Provider nor Recipient promise rights in advance for inventions developed under this Agreement.</li>
      <li>No indemnification for any loss, claim, damage, or liability is intended or provided by any party under this Agreement. Each party shall be liable for any loss, claim, damage, or liability that said party incurs as a result of said party’s activities under this Agreement, except that the NIH, as an agency of the United States, assumes liability only to the extent as provided under the United States Federal Tort Claims Act (28 U.S.C. Chapter 171).</li>
      <li>Software is supplied AS IS, without any accompanying services or improvements from Provider. SOFTWARE IS SUPPLIED TO RECIPIENT WITH NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. Provider makes no representations that the use of Software will not infringe any patent or proprietary rights of third parties.</li>
    </ol>
    <br>
    <p class="text-center"><b>Signatures Begin on Next Page</b></p>
    <hr>
    <h1>For Recipient:</h1>
    <p>
      <i><b>Authorized Official</b> for Recipient:</i>
    </p>
    <p>
      <span class="d-inline-block" style="width: 50px">Name: </span>
      <span class="d-inline-block border-bottom" style="width: 300px"></span>
      <span class="d-inline-block" style="width: 25px"></span>
      <span class="d-inline-block" style="width: 70px">Job Title: </span>
      <span class="d-inline-block border-bottom" style="width: 180px"></span>
    </p>
    <p>
      <span class="d-inline-block" style="width: 70px">Signature: </span>
      <span class="d-inline-block border-bottom" style="width: 280px"></span>
      <span class="d-inline-block" style="width: 25px"></span>
      <span class="d-inline-block" style="width: 40px">Date: </span>
      <span class="d-inline-block border-bottom" style="width: 210px"></span>
    </p>
    <p>
      <i>Read and Understood by <b>Recipient Investigator</b>:</i>
    </p>
    <p>
      <span class="d-inline-block" style="width: 50px">Name: </span>
      <span class="d-inline-block border-bottom text-grey text-italic" style="width: 300px">${first} ${last}</span>
      <span class="d-inline-block" style="width: 25px"></span>
      <span class="d-inline-block" style="width: 70px">Job Title: </span>
      <span class="d-inline-block border-bottom text-grey text-italic" style="width: 180px">${job_title}</span>
    </p>
    <p>
      <span class="d-inline-block" style="width: 70px">Signature: </span>
      <span class="d-inline-block border-bottom" style="width: 280px"></span>
      <span class="d-inline-block" style="width: 25px"></span>
      <span class="d-inline-block" style="width: 40px">Date: </span>
      <span class="d-inline-block border-bottom" style="width: 210px"></span>
    </p>
    <p>
      <i>Recipient's <b>Mailing Address</b> for Legal Notices:</i>
    </p>
    <p>
      <span class="d-inline-block" style="width: 62px">Address: </span>
      <span class="d-inline-block border-bottom text-grey text-italic" style="width: 575px">${address}</span>
    </p>
    <p>
      <span class="d-inline-block" style="width: 50px">Email: </span>
      <span class="d-inline-block border-bottom text-grey text-italic" style="width: 250px">${email}</span>
      <span class="d-inline-block" style="width: 25px"></span>
      <span class="d-inline-block" style="width: 50px">Phone: </span>
      <span class="d-inline-block border-bottom text-grey text-italic" style="width: 250px">${phone}</span>
    </p>
    <h1>For Provider:</h1>
    <p>
      <i><b>Authorized Official</b> for Provider:</i>
    </p>
    <p>
      <span class="d-inline-block" style="width: 50px">Name: </span>
      <span class="d-inline-block border-bottom" style="width: 300px"></span>
      <span class="d-inline-block" style="width: 25px"></span>
      <span class="d-inline-block" style="width: 70px">Job Title: </span>
      <span class="d-inline-block border-bottom" style="width: 180px"></span>
    </p>
    <p>
      <span class="d-inline-block" style="width: 70px">Signature: </span>
      <span class="d-inline-block border-bottom" style="width: 280px"></span>
      <span class="d-inline-block" style="width: 25px"></span>
      <span class="d-inline-block" style="width: 40px">Date: </span>
      <span class="d-inline-block border-bottom" style="width: 210px"></span>
    </p>
    <p>
      <i>Read and Understood by <b>Provider’s Investigator</b>:</i>
    </p>
    <p>
      Choonsik Lee, PhD<br>
      Dosimetry Unit Head, Senior Investigator<br>
      Radiation Epidemiology Branch<br>
      Division of Cancer Epidemiology & Genetics, NCI, NIH<br>
    </p>
    <p>
      <span class="d-inline-block" style="width: 70px">Signature: </span>
      <span class="d-inline-block border-bottom" style="width: 280px"></span>
      <span class="d-inline-block" style="width: 25px"></span>
      <span class="d-inline-block" style="width: 40px">Date: </span>
      <span class="d-inline-block border-bottom" style="width: 210px"></span>
    </p>
    <p>
      <i>Provider's <b>Mailing Address</b> for Legal Notices:</i>
    </p>
    <p class="ml-40">
      National Institutes of Health<br>
      National Cancer Institute Technology Transfer Center<br>
      9609 Medical Center Dr. Rm 1E530, MSC 9702<br>
      Bethesda, MD 20892-9702<br>
      <span style="margin-right: 15px;">Phone: 240-276-5530</span>
      <span>Fax: 240-276-5504</span>
    </p>
  </body>
</html>